{% extends "base.html" %} {% from "macros.jinja" import window_vars with context
%} {% block page %}

<q-card flat>
  <q-card-section>
    <div class="text-h5 q-mb-md">
      Payment extension
    </div>

    <q-card unelevated flat>
      <div class="text-h6">Payments</div>

          <div>
            <p>
              makes a payment
            </p>

            <p>
              Click here to make a payment
              <q-btn
                size="sm"
                color="primary"
                @click="getPayment"
                >here</q-btn
              > <q-tooltip>payment</q-tooltip>
            </p>
          </div>
    </q-card>
  </q-card-section>
</q-card>
{% endblock %} {% block scripts %} {{ window_vars(user) }}

<script>
  var someMapObject = obj => {
    obj._data = _.clone(obj)
    obj.date = Quasar.utils.date.formatDate(
      new Date(obj.time * 1000),
      'YYYY-MM-DD HH:mm'
    )
    // here you can do something with the mapped data
    return obj
  }
  new Vue({
    el: '#vue',
    mixins: [windowMixin],
    data: function () {
      return {
        ///// Declare models/variables /////
        protocol: window.location.protocol,
        location: '//' + window.location.hostname,
        thingDialog: {
          show: false,
          data: {}
        },
        someBool: true,
        splitterModel: 20,
        mysuperpluginData: [],
        tab: 'frameworks',
        framworktab: 'fastapi',
        usefultab: 'magicalg',
        vettedData: ''
      }
    },
    ///// Where functions live /////
    methods: {
      mysuperpluginFunction: function (data) {
        var theData = data
        LNbits.api
          .request(
            'GET', // Type of request
            '/mysuperplugin/api/v1/test/' + theData, // URL of the endpoint
            this.g.user.wallets[0].inkey // Often endpoints require a key
          )
          .then(response => {
            this.mysuperpluginData = response.data.map(someMapObject) // Often whats returned is mapped onto some model
          })
          .catch(error => {
            LNbits.utils.notifyApiError(error) // Error will be passed to the frontend
          })
      },
      getVettedReadme: function () {
        // This is a function that gets the vetted readme from the LNbits repo and converts it from makrdown to html.
        LNbits.api
          .request(
            'GET',
            '/mysuperplugin/api/v1/vetted',
            this.g.user.wallets[0].inkey
          )
          .then(response => {
            this.vettedData = LNbits.utils.convertMarkdown(response.data)
          })
          .catch(error => {
            LNbits.utils.notifyApiError(error)
          })
      },
      getPayment: function () {
        let dismissPaymentMsg = undefined;
        let description_hash = undefined;
        LNbits.api
          .request(
            'GET',
            '/api/v1/lnurlscan/marcelo@7fc8-177-84-220-121.ngrok-free.app',
            '767bcb181bf84e75b261d58c629b92c6'
          )
          .catch(err => {
            LNbits.utils.notifyApiError(err)
          })
          .then(response => {
            let data = response.data
            description_hash = data.description_hash;
            console.log(response)
            dismissPaymentMsg = this.$q.notify({
              timeout: 0,
              message: 'Processing payment...'
            })

          LNbits.api
            .request(
              'POST',
              '/api/v1/payments/lnurl',
              '767bcb181bf84e75b261d58c629b92c6',
              {
                amount: 100000,
                callback: 'https://7fc8-177-84-220-121.ngrok-free.app/lnurlp/api/v1/lnurl/cb/oWby2P',
                comment: "",
                description: "Payment to marcelo",
                description_hash: description_hash,
                unit: 'sat'

              }
            )
            .then(response => {
              dismissPaymentMsg();
              window.location.reload();
            })
          .catch(err => {
            console.log(err)
            LNbits.utils.notifyApiError(err)
          })
            })
        return
        
      },
    },
    ///// To run on startup /////
    created: function () {
      self = this // Often used to run a real object, rather than the event (all a bit confusing really)
      self.mysuperpluginFunction('lorum')
      self.getVettedReadme()
    }
  })
</script>
{% endblock %}
