{% extends "base.html" %} {% from "macros.jinja" import window_vars with context
%} {% block page %}

<q-card flat>
  <q-card-section>
    <div class="text-h5 q-mb-md">
      Payment extension
    </div>

    <q-card unelevated flat>
      <div class="text-h6">Payments</div>

          <div>
            <p>
              makes a payment
            </p>

            <p>
              Click here to make a payment
              <q-btn
                size="sm"
                color="primary"
                @click="getPayment"
                >here</q-btn
              > <q-tooltip>payment</q-tooltip>
            </p>
          </div>
    </q-card>
  </q-card-section>
</q-card>
{% endblock %} {% block scripts %} {{ window_vars(user) }}

<script>
  new Vue({
    el: '#vue',
    mixins: [windowMixin],
    data: function () {
      return {
        ///// Declare models/variables /////
        protocol: window.location.protocol,
        location: '//' + window.location.hostname,
      }
    },
    ///// Where functions live /////
    methods: {
      getPayment: function () {
        let dismissPaymentMsg = undefined;
        let description_hash = undefined;
        LNbits.api
          .request(
            'GET',
            '/api/v1/lnurlscan/marcelo@7fc8-177-84-220-121.ngrok-free.app',
            '767bcb181bf84e75b261d58c629b92c6'
          )
          .catch(err => {
            LNbits.utils.notifyApiError(err)
          })
          .then(response => {
            let data = response.data
            let description_hash = data.description_hash;
            let description = data.description;
            let amount = data.minSendable;
            let callback = data.callback;
            dismissPaymentMsg = this.$q.notify({
              timeout: 0,
              message: 'Processing payment...'
            })

          LNbits.api
            .request(
              'POST',
              '/api/v1/payments/lnurl',
              '767bcb181bf84e75b261d58c629b92c6',
              {
                amount,
                callback,
                comment: "",
                description,
                description_hash,
                unit: 'sat'

              }
            )
            .then(response => {
              dismissPaymentMsg();
              window.location.reload();
            })
          .catch(err => {
            console.log(err)
            LNbits.utils.notifyApiError(err)
          })
            })
        return
        
      },
    },
    ///// To run on startup /////
    created: function () {
      self = this
    }
  })
</script>
{% endblock %}
